{% extends 'todoApp/base.html' %}

{% block content %}

<h2 class="mb-3" class="text-success">Completed Todos</h2>
 <a href="{% url 'todo_list %'}" class="btn btn-secondary">Back To Todos</a>
{% if todos%}
      
     <ul class="list-group">
        {%for todo in todos%}

             <li class="list-group-item d-flex justify-content-between align-items-center">
                             
                <div>
                    <strong>{{todo.title}}</strong><br>
                    <small>
                        Priority: {{todo.priority}}
                        Due Date: {{todo.due_date}}
                     </small>
                </div>


                 
                   <div>
                    <span class="badge bg-success">Completed</span>
                     <a href="{% url 'update_todo' todo.id %}" class="btn-sm btn-outline-primary">Edit</a>
                    <a href="{% url 'delete_todo' todo.id %}" class="btn-sm btn-outline-danger ms-2">Delete</a>

                   </div>
                   
                
             </li>
        {% endfor %}     
    </ul>

{% else %}
   <p class="text-muted">No Completed todos</p> 
{% endif %}
{% endblock %}