{% extends 'todoApp/base.html' %}

{% block content %}

<h2 class="mb-3"> My Todos</h2>

{% if todos%}
      <a href="{% url 'add_todo' %}" class="btn btn-success mb-3"> Add Todo</a>
     <ul class="list-group">
        {%for todo in todos%}

             <li class="list-group-item d-flex justify-content-between align-items-center">
               <a href="{% url 'update_todo' todo.id %}" class="btn-sm btn-outline-primary">Edit</a>
               <a href="{% url 'delete_todo' todo.id %}" class="btn-sm btn-outline-danger ms-2">Delete</a>
                <div>
                    <strong>{{todo.title}}</strong><br>
                    <small>
                        Priority: {{todo.priority}}
                        Due Date: {{todo.due_date}}
                     </small>
                </div>

                {% if todo.is_completed %}
                    <span class="badge text-success">Completed</span>
                {% else %}
                   <span class="badge text-warning"> Pending</span>
                {% endif %}
             </li>
        {% endfor %}     
    </ul>

{% else %}
   <p class="text-muted">No task yet</p> 
{% endif %}
{% endblock %}